/* CSS declarations go here */

body
  font-family csb, 'Century Schoolbook', Georgia, serif

.main-wrapper
  margin 5%

.filter-dropdown li.price-range
  padding 1px 20px

.filter-dropdown li.brand
  padding 3px 20px

.filter-dropdown .price-range .filter-checkbox
  margin 0

.filter-dropdown .brand .filter-checkbox
  margin 1px 0

nav .dropdown-header
  font-size 17px
  font-variant small-caps

nav .dropdown-menu
  min-width 250px

h1.page-header
  font-family csb, 'Century Schoolbook', Georgia, serif
  font-style italic
  font-variant small-caps
  font-weight bold

h1.page-header .subheader
  font-style normal
  font-weight normal
  font-size 25px
  margin-left 60px

.products .product-image
  width 100%
  border-radius 4px

.products .product-information
  text-decoration none
  text-align center
  text-transform capitalize
  cursor pointer

  font-family csb, 'Century Schoolbook', Georgia, serif
  font-size 14px
  font-style normal
  font-variant small-caps
  font-weight normal

.products .product-information .name
  height 40px
  overflow hidden
  text-overflow ellipsis

.products .product
  padding 3px

.products .product .thumbnail
  padding 1px

.single-product-display .detailed-product-information
  text-align center

.single-product-display .thumbnail
  padding 40px

.single-product-display .product-purchase
  margin 30px

.single-product-display .information-description-buffer
  margin 40px

.single-product-display .product-purchase .purchase
  float right

.single-product-display .product-image
  margin-left auto
  margin-right auto
