/* CSS declarations go here */

body
  font-family csb, 'Century Schoolbook', Georgia, serif

.main-wrapper
  margin 5%

h1.page-header
  font-family csb, 'Century Schoolbook', Georgia, serif
  font-style italic
  font-variant small-caps
  font-weight bold
  text-align center

.products .product-image
  max-width 100%
  max-height 100%

.products .product-information
  text-decoration none
  text-align center
  cursor pointer

  font-family csb, 'Century Schoolbook', Georgia, serif
  font-size 14px
  font-style normal
  font-variant normal
  font-weight normal
