<template name="landing_page">
  <div class="landing-page-container">
    <div class="jumbotron col-sm-12 col-xs-12">
      <div class="container col-sm-6 col-xs-6">
        <h1>Beautifully simple shopping.</h1>
        <div class="landing-page-description">
          <p class="description hidden-xs">
            We're taking the shopping experience and condensing it down to its core. You'll find name brand clothing from places like Express, Banana Republic, and H&M, but without any of the fuss.
          </p>
        </div>
        <div class="separator visible-xs"></div>
        <div class="start-shopping-button">
          <a href="/tops" class="btn btn-lg btn-primary">
            Start browsing
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
