<template name="products">
  {{#isolate}}
    {{#if showSaleBanner}}
      {{> sale_banner }}
    {{/if}}
    <div class="products {{ productType }}">
      {{#each rows}}
        <div class="row">
          <div class="col-sm-12">
            {{#each columns}}
              <div class="col-sm-3 col-xs-6 product">
                <div class="thumbnail">
                  <a href="/products/{{ _id }}" class="product-link" data-target="{{ _id }}">
                    <img class="product-image img-responsive"
                      src="/images/image_placeholder.png"
                      data-original="{{ getStoredImageUrl storageImageFilename }}"></img>
                  </a>
                  <div class="product-information caption">
                    <div class="name">{{ lowerCase productName }}</div>
                    <div class="price">{{ displayPrice productPrice }}</div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/isolate}}
</template>

<template name="sale_banner">
  <div class="sale-banner panel panel-default">
    <div class="panel-heading">THE LOWEST PRICES</div>
    <div class="panel-body">
      We've scoured the internet for sales and promotions to get you the best prices -- here they are.
    </div>
  </div>
</template>
